/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
body{
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    line-height: 36px;
}
.fz20{
    font-size: 20px;
}
.lh30{
    line-height: 30px;
}
.lh42{
    line-height: 42px;
}
.pt64{
    padding-top: 64px;
}
.pt56{
    padding-top: 56px;
}
.pb64{
    padding-bottom: 64px;
}
.pb160{
    padding-bottom: 160px;
}
.pb144{
    padding-bottom: 144px;
}
.mt12{
    margin-top: 12px;
}
.mt28{
    margin-top: 28px;
}
.mt56{
    margin-top: 56px;
}
.mb8{
    margin-bottom: 8px;
}
.mb16{
    margin-bottom: 16px;
}
.mb20{
    margin-bottom: 20px;
}
.mb24{
    margin-bottom: 24px;
}
.mb32{
    margin-bottom: 32px;
}
.mb40{
    margin-bottom: 40px;
}
.mb48{
    margin-bottom: 48px;
}
.mb56{
    margin-bottom: 56px;
}
.mb68{
    margin-bottom: 68px;
}
.ml8{
    padding-left: 8px;
}
.mr8{
    padding-right: 8px;
}
.mr16{
    margin-right: 16px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.tac{
    text-align: center;
}
.header{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
}
.header h1{
    font-size: 80px;
    line-height: 106px;
}
.header a:hover{
    opacity: 0.6;
}
.title{
    font-size: 64px;
    line-height: 84px;
}
.subTitle{
    font-size: 24px;
    line-height: 42px;
}
.dot{
    width: 22px;
    height: 22px;
    background-color: #891818;
    border-radius: 50%;
}
.about ul{
    max-width: 384px;
    border-top: 1px solid #000;
}
.about li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bgBlack{
    background-color: #000;
}
.white{
    color: #FFFFFF;
}
.brandImg{
    display: flex;
    justify-content: center;
}
.brandImg img{
    width: 49%;
}
.design ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.w32{
    width: 32%;
}
.w49{
    width: 49%;
}
.design img:hover{
    opacity: 0.8;
}